.project__container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.project__item {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.project__item-image {
  border-radius: 1rem;
  overflow: hidden;
}

.project__item h3 {
  margin: 1.2rem 0 2rem;
}

.project__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.gitLink, .demoLink {
  color: wheat;
}

/**** MEDIA QUERIES FOR PROJECTS SECTION ****/
@media screen and (max-width: 1024px) {
  .project__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .project__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
