.skill {
  display: grid;
  justify-content: space-between;
  gap: 5%;
  margin: 3rem;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10%;
  margin-right: 10%;
}

.skill img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.cpp {
  padding: 0.5rem;
}

.cpp:hover {
  box-shadow: inset 0 0 10px rgb(68, 108, 202);
}

.html:hover {
  box-shadow: inset 0 0 10px orange;
}

.css:hover {
  box-shadow: inset 0 0 10px rgb(34, 145, 231);
}

.js {
  padding: 0.5rem;
}

.js:hover {
  box-shadow: inset 0 0 10px rgb(198, 198, 44);
}

.react {
  padding: 0.3rem;
}

.react:hover {
  box-shadow: inset 0 0 10px rgb(52, 187, 228);
}

.git {
  padding: 0.5rem;
}

.git:hover {
  box-shadow: inset 0 0 10px orange;
}

.github {
  padding: 0.5rem;
}

.github:hover {
  box-shadow: inset 0 0 10px grey;
}

/**** MEDIA QUERIES FOR SKILLS ****/
@media screen and (max-width: 1024px) {
  .skill {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(3, 1fr);
  }

  .skill img {
    gap: 20%;
    height: 12rem;
    width: 12rem;
  }
  
}

@media screen and (max-width: 600px) {
  .skill {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(2, 1fr);
  }

  .skill img {
    gap: 20%;
    height: 12rem;
    width: 12rem;
  }
}
