header {
  height: 100vh;
  padding-top: 2rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  top: 25rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me__profile {
  background: linear-gradient(var(--color-primary), transparent);
  height: 30rem;
  width: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  top: 30rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

/**** MEDIA QUERIES FOR HEADER ****/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
