footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  margin-top: 5rem;
}

footer h3 {
  color: var(--color-bg);
}

footer a {
  color: var(--color-bg);
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: white;
  padding: 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

/**** MEDIA QUERIES FOR FOOTER ****/
@media screen and (max-width: 700px) {
  .footer__socials {
    margin-bottom: 5rem;
  }

  footer h3 {
    display: none;
  }
}
